// You may tweak this configuration for even more specificity
// However, first it's recommended to change directly at tailwind.config.ts file

:root {
	--ifm-font-family-base: theme('fonts.body');
	--ifm-font-family-monospace: theme('fonts.mono');
	--ifm-heading-font-family: theme('fonts.title');

	body {
		font-family: var(--ifm-font-family-base);
	}

	line-height: 1.6;
}

/**
	INITIAL TODO  - 	If you included some different fonts on tailwind.config.ts,
	    	you may need to add them here.
 */
// include fonts available on google fonts or other sources

// Fonts that were included directly in the project assets
// i.e.: not available on google fonts, so we had to download it
// You first need to include them there, then add them here to be available to css
// Recommended path: /static/fonts/<...>

@font-face {
	font-family: 'Lexend';
	src:
		url('/static/fonts/Lexend/Lexend-Bold.woff') format('woff'),
		url('/static/fonts/Lexend/Lexend-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src:
		url('/static/fonts/Lexend/Lexend-SemiBold.woff') format('woff'),
		url('/static/fonts/Lexend/Lexend-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src:
		url('/static/fonts/Lexend/Lexend-Regular.woff') format('woff'),
		url('/static/fonts/Lexend/Lexend-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lexend';
	src:
		url('/static/fonts/Lexend/Lexend-Light.woff') format('woff'),
		url('/static/fonts/Lexend/Lexend-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
